<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
  <h1>{{ 'Translation request' | t }}</h1>
  <ul>
    <li>{{ 'Title' | t }}: {{ content.node_title }}</li>
    <li>{% trans %}From {{ content.source_language }} to {{ content.target_language }}{% endtrans %}</li>
    <li>{{ 'Words' | t }}: {{ content.words }}</li>
    {%  if content.has_delivery_date %}
      <li>{{ 'Delivery date' | t }}: {{ content.delivery_date }}</li>
    {% endif %}
    <li>{{ content.job_link }}</li>
  </ul>
</body>
</html>
