<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
  <h1>{{ 'Translation request error' | t }}</h1>
  <ul>
    <li>{{ 'Error code' | t }}: {{ content.error_code }}</li>
    <li>{{ 'Message' | t }}: {{ content.message }}</li>
    <li>{% trans %}From {{ content.source_language }} to {{ content.target_language }} with {{ content.translator }}{% endtrans %}</li>
  </ul>
  <h2>{{ 'Original error' | t }}</h2>
  <div>
    {{ content.original_error }}
  </div>
  <h2>{{ 'Original text' | t }}</h2>
  <div>
    {{ content.text }}
  </div>
</body>
</html>
